body{
    margin: 0;
    padding: 0;
}

section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

video{
    width: 100%;
}

section{
    position: relative;
}

a.clickable{
    position: absolute;
    inset: 0;
    z-index: 30;
}

.play-clickable{
    position: absolute;
    inset: 0;
    z-index: 35;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.play-btn{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-btn img{
    height: 35px;
    margin-left: 7px;
}